<!DOCTYPE html>
<html>
<%- include ('../layouts/head') %>

<body>
    <header>
    <%- include ('../layouts/header') %>
    <section id="pageTitle">Add Book</section>
    </header>
    <main>
        <section>
            <form id="addForm" action="/books" method="POST">
                <legend class="formH2">
                    <h2>Add a new book to your bookshelf</h2>
                </legend>
                <fieldset>
                    <p>
                        <input class="addInput" type="text" name="add" id="author" placeholder="Enter an author" required>
                    </p>
                    <p>
                        <input class="addInput" type="text" name="add" id="title" placeholder="Enter a title" required>
                    </p>
                    <p>
                        <input class="addInput" type="text" name="add" id="isbn" placeholder="Enter an ISBN" required>
                    </p>
                    <p>
                        <input class="addInput" type="text" name="add" id="image_url" placeholder="Enter image URL" required>
                    </p>
                    <p>
                        <input class="addInput" type="text" name="add" id="description" placeholder="Enter a description" required>
                    </p>
                </fieldset>
                <button type="submit" id="addBookButton">Add Book</button>
            </form>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>