<section id="book-template">
    <p><br>Title: <%= book.title %></p><br><br>
    <img src="<%= book.image_url %>"><br><br>
    <p>Author: <%= book.author %></p><br><br>
    <p id="description">Description: <br><br><%= book.description.substring(0,300) %></p><br>
</section>



