<!DOCTYPE html>
<html>
<%- include ('../layouts/head') %>

<body>
    <header>
        <h1>Best Books!</h1>
        <section id='headerImg'>
            <img src="img/hamburger.jpg">
        </section>
        <section id="pageTitle">Search Results</section>
    </header>
    <main>
        <%- include ('detail.ejs') %>
        <section><a href="../">Return to Home Page</a></section>
    </main>
</body>
</body>

</html>