<!DOCTYPE html>
<html>
<%- include ('../layouts/head') %>

<body>
    <header>
    <%- include ('../layouts/header') %>
    <section id="pageTitle">Book Info</section>
    </header>
    <main>
        <%- include ('detail.ejs') %>
        <%- include ('edit.ejs') %>
        <section id="returnToHome"><a href="../">Return to Home Page</a></section>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>