<!DOCTYPE html>
<html>

<head>
    <title>Search Book</title>
    <link rel="stylesheet" href="styles/base.css">
</head>


<body>
    <main>
        <section>
            <form id="addForm">
                <fieldset>
                    <legend>
                        <h2>Search by title or author</h2>
                    </legend>
                    <p>
                        <input type="text" id="book" placeholder="Enter a title or author" required>
                    </p>
                    <p>
                        <input type="radio" id="title" name="title" value="title">
                        <label for="title">Title</label><br>
                    </p>
                    <p>
                        <input type="radio" id="author" name="author" value="author">
                        <label for="author">Author</label><br>
                    </p>
                    <button type="submit" id="submit">Search the Google Books API</button>
                </fieldset>
            </form>
        </section>
    </main>
</body>

</html>
