<!DOCTYPE html>
<html>
<%- include ('../layouts/head') %>

<body>
    <header>
    <%- include ('../layouts/header') %>
    <section id="pageTitle">Search for a Book</section>
</header>
    <main>
        <section>
            <form id="searchForm" action="/searches" method="POST">
                <fieldset>
                    <legend class="formH2">
                        <h2>Search by title or author</h2>
                    </legend>
                    <p>
                        <input type="text" name="search" id="book" placeholder="Enter a title or author" required>
                    </p>
                    <fieldset>
                        <p>
                            <input type="radio" id="title" name="search" value="title">
                            <label for="title">Title</label><br>
                        </p>
                        <p>
                            <input type="radio" id="author" name="search" value="author">
                            <label for="author">Author</label><br>
                        </p>
                    </fieldset>
                    <button type="submit" id="submitSearch">Search the Google Books API</button>
            </form>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>