<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <section id='headerImg'>
            <img src="img/hamburger.jpg">
        </section>
        <section id="pageTitle">Search Results</section>
    </header>
    <main>
        <% booksResults.forEach(book => { %>
        <section id="book-template">
            <p><br>Title: <%= book.title %></p><br><br>
            <img src="<%= book.image_url %>"><br><br>
            <p>Author: <%= book.author %></p><br><br>
            <p id="description">Description: <br><br><%= book.description.substring(0,300) %></p><br>
        </section>
        <% }); %>
    </main>
</body>
</body>

</html>