<h1 class="header-h1">Best Books</h1>
<i id="list" class="material-icons" onclick="hide()"><img class="ham" src="/img/hamburger.jpg"></i>
<i id="close" class="material-icons" onclick="show()"><img class="ham" src="/img/hamburger.jpg"></i>
<nav>
    <ul id="list-item">
        <li><a href="/books/add">Add</a></li>
        <li><a href="/searches/new">Search</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>