<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/base.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/modules.css">
    </head>

<body>
    <header>
        <h1>Best Books!</h1>
        <section id='headerImg'>
            <img src="img/hamburger.jpg">
        </section>
        <section id="pageTitle">Home Page</section>
    </header>
    <main>
        <p id="welcome">Welcome to the Best Books App!</p>
    </main>
</body>

</html>
